.pic {
  display: flex;
  width: 40%;
  background-color: #558c8a;
  /*background-image: url(icons/shrooms.jpg);
    background-size: cover;*/
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.txt {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(256, 256, 256);
}

.filmImage {
  width: 95%;
  height: auto;
  border: 3px solid #b266ff;
}

.filmHeader {
  font-size: 20px;
  margin: 5px;
}
.filmDescription {
  font-size: 12px;
  margin: 10px;
  overflow: hidden;
  text-align: justify;
}
